*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.nav-bar{
    background-color:rgb(43, 38, 38);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    height: 70px;
    width: 100%;
    padding: 0 30px;
    margin-bottom: 20px;
}
#italic{
    font-style: italic;
}
nav ul {
    display: flex;
    align-items: center;
    justify-content:center ;
    list-style: none;
}
nav ul li{
    margin: 0 20px;
}




.container {
    margin: 0 30px;
    position: relative; 
    display: flex;
    justify-content: space-between;
}

.heading {
    padding-top: 30px;
    padding-bottom: 90px;
}
.para{
    padding-bottom: 20px;
}
.sided-card {
    top: 20px;
    padding: 20px 20px;
    color: #ffff;
    background-color: rgb(43, 38, 38);
    height: 100vh;
    padding-top: 30px;
}
.card-container{
    /* display: flex; */
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
   
    padding: 0;
    /* border: 1px solid red; */  
}

.card {
    display: inline-block;
    border: 2px solid black;
    width: 280px;
    height: 180px; 
    margin-right: 10px;
    margin-bottom:20px ;
   
}
.card-content h2{
    background-color: black;
    color: white;
    padding: 10px 10px;
}
.card-content{
    line-height: 1;
    
}

.card-content p{
    padding:20px 10px;
}